# Compiler Crap
s2built.bin
s2built.prev.bin
s2b.log
s2b.lst
s2b.p
s2b.h
_123COMPILE/
SonLVL INI Files/dllcache/
README.md
build_source/
win32/
Sonic_The_Hedgehog_2_(Simon_Wai_Prototype).bin
art/nemesis/.DS_Store
mappings/.DS_Store
mappings/128x128/.DS_Store
art/.DS_Store
.DS_Store
